*.code-workspace
*.tgz
.wrangler/
/.dev.vars
/.env
/.husky/_/
/.pnpm-store/
/.vite/
/.wireit/
/artifacts/
/dist/
/node_modules/
/src/assets/about/me.json
/src/assets/audio/dev/*
!/src/assets/audio/dev/README.md
/src/assets/images/88x31/unused/*
/src/assets/images/cats/*
!/src/assets/images/cats/*.avif
/src/assets/v86/bios/*
!/src/assets/v86/bios/seabios.bin
!/src/assets/v86/bios/vgabios.bin
/src/components/shaders/presets/*
/src/lib/oimo/
/src/scripts/.cache/
/src/types/wrangler.d.ts
