*.code-workspace
*.tgz
/.dev.vars
/.env
/.husky/_/
/.pnpm-store/
/.vite/
/.wireit/
/.wrangler/
/artifacts/
/dist/
/node_modules/
/src/assets/audio/dev/*
!/src/assets/audio/dev/README.md
/src/assets/images/cats/*
!/src/assets/images/cats/*.avif
/src/components/shaders/presets/*
/src/types/wrangler.d.ts
