*.code-workspace
*.tgz
/.env
/.vite
/.wrangler/
/artifacts/
/dist/
/.husky/_/
/node_modules/
/src/assets/audio/dev/*
!/src/assets/audio/dev/README.md
/src/assets/images/cats/*
!/src/assets/images/cats/*.avif
/src/types/wrangler.d.ts
